{% extends 'base.html' %}

{% block content %}

<div class='row text-center'>
  <div class='col'>
    <h1>Welcome to TweetTweet</h1>
  </div>
</div>

<div class='row mb-3'>
  <div class='col-md-4 mx-auto col-10'>
    <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'> {% csrf_token %}
      <input type='hidden' value='/' name='next' />
      <textarea class='form-control' name='content' placeholder='TweetTweet here ..'></textarea>
      <button type='submit' class='btn btn-primary'>TweetTweet</button>
    </form>
  </div>
</div>

<div class ='row' id='tweets'>
  Loading ...
</div>

<script>
  function tweetCreateFormDidSubmit(event) {
    event.preventDefault()
    const form = event.target
    const formData = new FormData(form)
    const url = form.getAttribute("action")
    const method = form.getAttribute("method")

    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
      if (xhr.status === 201) {
        const newTweet = xhr.response
        const newTweetJson = JSON.parse(newTweet)
        const newTweetElem = formatTweetElem(newTweetJson)
        console.log(newTweetElem)
      }
    }
    xhr.send(formData)
  }

  const tweetCreateFormEl = document.getElementById("tweet-create-form")
  tweetCreateFormEl.addEventListener("submit", tweetCreateFormDidSubmit)

  const currTweetElem = document.getElementById("tweets")

  function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
      const serverResponse = xhr.response
      var listedItems = serverResponse.response
      var finalTweetStr = ""
      var i

      for (i = 0; i < listedItems.length; i++) {
        finalTweetStr += formatTweetElem(listedItems[i])
      }

      tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
  }

  loadTweets(currTweetElem)

  function likeBtn(tweet) {
    return "<button class='btn btn-primary btn-small' onclick=handleLike(" + 
      tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Like</button>"
  }

  function handleLike(tweet_id, count) {
    count++
    return count
  }

  function formatTweetElem(tweet) {
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'>" + tweet.id 
      + "<p>" + tweet.content + "</p><div class='btn-group'>" + likeBtn(tweet) + "</div></div>" 
    return formattedTweet
  }
  
</script>

{% endblock content %}